<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/8133639c1c.js" crossorigin="anonymous"></script>
        <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
        <script type="text/javascript">
            emailjs.init('Zh5Xh3x-J1rmUjEuJ')
        </script>
        <link rel="stylesheet" href="/Styles.css">
        
        <title>StudyCoop</title>
    </head>
    
    <style>
        * {
          margin: 0;
          padding: 0;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      
      header {
          height: 100px;
          /*background: rgb(108, 118, 118);*/
          background: #4d4d5c;
          padding: 0 50px;
          color: aliceblue;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      
      .logo {
          text-transform: uppercase;
          font-weight: 200;
          color: whitesmoke;
      }
      
      .menu a {
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          padding: 0 10px;
          transition: 0.4s;
          
      }
      
      .mostrar-menu,
      .esconder-menu {
          font-size: 30px;
          cursor: pointer;
          transition: 0.4s;
          display: none;
      }
      
      .mostrar-menu {
          order: 1;
      }
      
      .menu a:hover,
      .mostrar-menu:hover,
      .esconder-menu:hover {
          color: #666666;
      }
      
      #check {
          display: none;
      }
      
      @media(max-width:768px) {
          .mostrar-menu,
          .esconder-menu {
              display: block;
          }
          .menu {
              position: fixed;
              height: 100vh;
              z-index: 100;
              width: 100%;
              background: rgb(86, 87, 87);
              /*left: 0;*/
              right: -100%;
              top: 0;
              text-align: center;
              padding: 100px 0px;
              z-index: 100;
              transition: o.8s;
          }
          .menu a {
              display: block;
              padding: 20px;
          }
          .esconder-menu {
              position: absolute;
              top: 40px;
              right: 40px;
          }
          #check:checked~.menu {
              right: 0;
          }
          #personas {
              flex-direction: column;
          }
          .contenido-icono {
              flex-direction: column;
          }
          .contenido-icono div {
              border: none !important;
          }
          .datos-form {
              flex-direction: column;
          }
          .boton-empezar {
            text-decoration: none;
            transition: all 0.6s;
            color: #fff;
            border: 1px solid grey;
            padding: 20px 40px;
            align-self: baseline;
        }
        
        .boton-empezar:hover {
            background-color: grey;
            color: black;
        }
    
        .servicio-text{
            text-align: center;
        }
      }

      .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    
    h1 {
        font-size: 32px;
        color: #333;
        margin-bottom: 20px;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
    }
    
    li {
        margin-bottom: 10px;
    }
    
    p {
        margin-bottom: 10px;
    }
    
    a {
        text-decoration: none;
        color: #007bff;
    }
    
    a:hover {
        text-decoration: underline;
        color: #0056b3;
    }
    
    
    </style>
<body>
    <header>
        <h2 class="logo">@ StudyCoop</h2>
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label>
        <nav class="menu">
            <a href="/users/dashboard">Volver</a>
            <a href="/users/logout">Cerrar sesión</a>
            <label for="check" class="esconder-menu">
                &#215
            </label>

        </nav>
    </header>
    
    <div class="container">
    <h1>Solicitudes Creadas</h1>
    <% if (solicitudes && solicitudes.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo de Servicio</th>
                    <th>Materia</th>
                    <th>Tema de Interés</th>
                    <th>Fecha de Reunión</th>
                    <th>Fecha de Solicitud</th>
                </tr>
            </thead>
            <tbody>
                <% solicitudes.forEach(solicitud => { %>
                    <tr>
                        <td><%= solicitud.solicitud_id %></td>
                        <td><%= solicitud.tipo_servicio %></td>
                        <td><%= solicitud.materia %></td>
                        <td><%= solicitud.tema_interes %></td>
                        <td><%= solicitud.fecha_reunion %></td>
                        <td><%= solicitud.fecha_solicitud %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    
    <% } else { %>
        <p>No se encontraron solicitudes.</p>
    <% } %>
    
</body>
</html>